option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.server:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:command:
    Timeout: 900

packages:
  yum:
    git: []
    gcc: []
    gcc-c++: []
    make: []

commands:
  01_update_pip:
    command: "/var/app/venv/*/bin/pip install --upgrade pip"
